/* Todo List */
/* Adjust heights of curves and sizes of circles, and
align and add text boxes through css and js file.
find my comments to explain further */


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=Inter:400,700");

.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120%;
  padding: 20px;
}

.desktop .group-wrapper {
  background-color: #ffffff;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.desktop .group {
  position: relative;
  width: 65%;
  /* Adjust width as needed */
  margin: 0 auto;
}



/* Media queries for responsiveness */

@media (max-width: 768px) {
  .desktop .group {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .desktop .group {
    width: 95%;
  }
}


.desktop .overlap {
  position: absolute;
  width: 571px;
  height: 667px;
  top: 40px;
  left: 0;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 571px;
  height: 665px;
  top: 2px;
  left: 0;
}

.desktop .overlap-group {
  position: relative;
  height: 665px;
}

/* Adjust heights of curves to match figma design (reduces gradually) */
.desktop .rectangle {
  top: 0;
  left: 117px;
  position: absolute;
  width: 140%;
  /* Change the percentage value as needed */
  height: 310px;
  border-radius: 0px 200px 200px 0px;
  border-top-width: 40px;
  border-top-style: solid;
  border-right-width: 40px;
  border-right-style: solid;
  border-bottom-width: 40px;
  border-bottom-style: solid;
  border-image-slice: 1;
  border-color: #c4c1f6;
}


.desktop .div {
  top: 267px;
  left: 0;
  transform: rotate(180deg);
  position: absolute;
  width: 140%;
  height: 290px;
  border-radius: 0px 200px 200px 0px;
  border-top-width: 40px;
  border-top-style: solid;
  border-right-width: 40px;
  border-right-style: solid;
  border-bottom-width: 40px;
  border-bottom-style: solid;
  border-color: #c4c1f6;
}



.desktop .rectangle-2 {
  top: 516px;
  left: 117px;
  position: absolute;
  width: 140%;
  height: 260px;
  border-radius: 0px 200px 200px 0px;
  border-top-width: 40px;
  border-top-style: solid;
  border-right-width: 40px;
  border-right-style: solid;
  border-bottom-width: 40px;
  border-bottom-style: solid;
  border-color: #c4c1f6;
}

.desktop .rectangle-3 {
  top: 736px;
  left: 0;
  transform: rotate(180deg);
  position: absolute;
  width: 140%;
  height: 235px;
  border-radius: 0px 200px 200px 0px;
  border-top-width: 40px;
  border-top-style: solid;
  border-right-width: 40px;
  border-right-style: solid;
  border-bottom-width: 40px;
  border-bottom-style: solid;
  border-color: #c4c1f6;
}

.desktop .rectangle-4 {
  top: 931px;
  left: 117px;
  position: absolute;
  width: 140%;
  height: 210px;
  border-radius: 0px 200px 200px 0px;
  border-top-width: 40px;
  border-top-style: solid;
  border-right-width: 40px;
  border-right-style: solid;
  border-bottom-width: 40px;
  border-bottom-style: solid;
  border-color: #c4c1f6;
}

.desktop .rectangle-5 {
  top: 1101px;
  left: 0;
  transform: rotate(180deg);
  position: absolute;
  width: 140%;
  height: 200px;
  border-radius: 0px 200px 200px 0px;
  border-top-width: 40px;
  border-top-style: solid;
  border-right-width: 40px;
  border-right-style: solid;
  border-bottom-width: 40px;
  border-bottom-style: solid;
  border-color: #c4c1f6;
}

.desktop .rectangle-6 {
  background: linear-gradient(21.76deg, #ffffff 44%, #ffffff 100%) padding-box, linear-gradient(339deg, #D4B4FC 33%, #c4c1f6 97%) border-box;
  border-color: transparent;
  top: 1261px;
  left: 117px;
  position: absolute;
  width: 140%;
  height: 170px;
  border-radius: 0px 200px 200px 0px;
  border-top-width: 40px;
  border-top-style: solid;
  border-right-width: 40px;
  border-right-style: solid;
  border-bottom-width: 40px;
  border-bottom-style: solid;
  /* border-color: #c4c1f6; */
}

/* Adjust sizes of .frame to match sizes of circles in figma design, refer to timeline.js or inspect to see which design is being changed */
.desktop .frame {
  top: -13px;
  left: 87px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .div-wrapper {
  top: -12px;
  left: 500px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-2 {
  top: 255px;
  left: 550px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-3 {
  top: 503px;
  left: 500px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-4 {
  top: 255px;
  left: 135px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-5 {
  top: 503px;
  left: 161px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-6 {
  bottom: -126px;
  left: 135px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-7 {
  bottom: -126px;
  left: 550px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-8 {
  bottom: -321px;
  left: 161px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-9 {
  bottom: -321px;
  left: 500px;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-10 {
  bottom: -493px;
  left: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-11 {
  bottom: -517px;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-12 {
  bottom: -711px;
  left: 161px;
  display: flex;
  flex-direction: column;
  height: 130px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-13 {
  bottom: -711px;
  left: 500px;
  display: flex;
  flex-direction: column;
  height: 130px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-14 {
  bottom: -840px;
  left: 87px;
  display: flex;
  flex-direction: column;
  height: 130px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-15 {
  bottom: -840px;
  left: 550px;
  display: flex;
  flex-direction: column;
  height: 130px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .group-2 {
  position: absolute;
  width: 167px;
  height: 29px;
  top: 53px;
  left: 515px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #38375A;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  top: 17px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8247E5;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-3 {
  position: absolute;
  width: 230px;
  height: 41px;
  top: 214px;
  left: 151px;
}

.desktop .lorem-ipsum-dolor {
  position: absolute;
  top: 17px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #c3a8f2;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  max-width: 200px;
}

.desktop .group-4 {
  position: absolute;
  width: 230px;
  height: 41px;
  top: 328px;
  left: 568px;
}

.desktop .group-5 {
  position: absolute;
  width: 230px;
  height: 41px;
  top: 464px;
  left: 177px;
}

.desktop .group-6 {
  position: absolute;
  width: 230px;
  height: 41px;
  top: 575px;
  left: 515px;
}

.desktop .group-7 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 656px;
  left: 151px;
}

.desktop .group-9 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 831px;
  left: 568px;
}

.desktop .group-10 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 911px;
  left: 178px;
}
.desktop .group-11 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 1026px;
  left: 516px;
}
.desktop .group-12 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 1110px;
  left: 142px;
}
.desktop .group-13 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 1203px;
  left: 558px;
}
.desktop .group-14 {
  position: absolute;
  width: 140px;
  height: 79px;
  top: 1261px;
  left: 186px;
}
.desktop .group-15 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 1356px;
  left: 509px;
}
.desktop .group-16 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 1394px;
  left: 108px;
}
.desktop .group-17 {
  position: absolute;
  width: 237px;
  height: 79px;
  top: 1481px;
  left: 558px;
}

.desktop .lorem-ipsum-dolor-2 {
  position: absolute;
  top: 31px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #c3a8f2;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-8 {
  position: absolute;
  width: 167px;
  height: 29px;
  top: 0;
  left: 117px;
}